.first-section{
    background: rgb(11,3,89);
    background: -moz-linear-gradient(86deg, rgba(11,3,89,0.3688068977591037) 0%, rgba(231,63,36,0.29597776610644255) 45%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(86deg, rgba(11,3,89,0.3688068977591037) 0%, rgba(231,63,36,0.29597776610644255) 45%, rgba(255,255,255,1) 100%);
    background: linear-gradient(86deg, rgba(11,3,89,0.3688068977591037) 0%, rgba(231,63,36,0.29597776610644255) 45%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0359",endColorstr="#ffffff",GradientType=1);
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 48%, 82% 71%, 53% 78%, 0 100%, 0% 30%); */
    /* background: #1a2a6c;   */
    /* background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);   */
    /* background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  */
}
.lg-bg{

    background-image: url('../../assets/BGRed3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    
.cta{
    background: linear-gradient(210deg,#f6f6f64f, rgba(0,0,0,0.5)), url('../../assets/cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-two {
    background: rgb(11,3,89);
    background: -moz-linear-gradient(86deg, rgba(11,3,89,0.3688068977591037) 0%, rgba(231,63,36,0.29597776610644255) 45%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(86deg, rgba(11,3,89,0.3688068977591037) 0%, rgba(231,63,36,0.29597776610644255) 45%, rgba(255,255,255,1) 100%);
    background: linear-gradient(86deg, rgba(11,3,89,0.3688068977591037) 0%, rgba(231,63,36,0.29597776610644255) 45%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0359",endColorstr="#ffffff",GradientType=1);
}