.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-btn{
  border-radius: 8px;
  min-width: 167px;
  min-height: 48px;
  background-color: #031759;
}
.app-btn:hover{
  background-color: #f1634d;
}
.app-container{
  max-width: 1440px;
  margin: auto;
}
.about-image{
  background-image: url('./assets/engineer-4922420_1920.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.mission-image{
  background-image: url('./assets/cog-wheels-2125169_1920.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.vision-image{
  background-image: url('./assets/metaverse-7081849_1280.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
}
.add-app-red::before{
  content: '';
  width: 200px;
  height: 15px;
  background-color: #f1634d;
  position: absolute;
  transform: translateY(-15px);
  border-radius: 8px;
  /* opacity: .90; */
}
@media screen and (max-width: 900px) {
  .add-app-red::before{
    content: '';
    width: 200px;
    height: 15px;
    background-color: #f1634d;
    position: absolute;
    transform: translate(-50%,-15px);
    border-radius: 8px;
    left: 50%;
    /* opacity: .90; */
  }
  
}
.add-app-red-to-nav:focus{

  color: #f1634d !important;

  /* transform: translateX(-50%); */
}
.app-light-red{
  background-color: #f1634d;
}
.add-app-red-to-nav:hover::before{
  content: '';
  width: 70%;
  height: 5px;
  background-color: #f1634d !important;
  position: absolute;
  border-radius: 8px;
  left: 8px;
  bottom: 0;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
